<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.js"></script>
  <script src="../dist/trueform.min.js"></script>
  <script src="control-trueform.js"></script>
</head>
<body ng-app="application" ng-controller="FormCtrl">
  <form name="profileForm">
    <label>Birthdate:</label>
    <input type="text" name="birthdate" ng-model="birthdate" tf-date tf-date-view="MM/dd/yyyy" tf-date-limit="true" tf-date-type="Number" maxlength="10">
    <br>
    <label>Email:</label>
    <input type="text" name="email" ng-model="email" tf-email>
    <br>
  </form>

  <div>
    <h3>{{profileForm.$valid}}</h3>
  </div>
</body>
</html>